{% extends 'base.html.twig' %}

{% block body %}
{% include 'breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs} %}
    <h1>Actividad</h1>
    <table table="table table-bordered">
        <tbody>
            <tr>
                <th>Startdate</th>
                <td>{% if periodActivity.startdate %}{{ periodActivity.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if periodActivity.enddate %}{{ periodActivity.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ periodActivity.description | raw }}</td>
            </tr>
            <tr>
                <th>Duration_id</th>
                <td>{{ periodActivity.durationid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('periodactivity_new') }}">New</a>
        </li>
        <li>
            <a href="{{ path('periodactivity_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('periodactivity_edit', { 'id': periodActivity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
