{% extends 'base.html.twig' %}

{% block body %}
{% include 'breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs} %}
<div class="row">
    <div class="col-12">
    <h1>Edici贸n</h1>
    <h3><a class="btn btn-info" href="{{ path('periodactivity_index', { 'id': calendar.id }) }}"><i class="fa fa-arrow-left"></i></a></h3>
    <div class="form-group">
        <label>Fecha inicio:</label>
        {% if periodActivity.startdate %}{{ periodActivity.startdate|date('Y-m-d H:i:s') }}{% endif %}
    </div>
    <div class="form-group">
        <label>Fecha Termino:</label>
        {% if periodActivity.enddate %}{{ periodActivity.enddate|date('Y-m-d H:i:s') }}{% endif %}
    </div>
    <div class="form-group">
        <label>Descripci贸n:</label>
        {{ periodActivity.description | raw }}
    </div>
    <div class="form-group">
        <label>Calendario:</label>
        {{ periodActivity.periodCalendar }}
    </div>
    <div class="form-group">
        <label>Duraci贸n:</label>
        {{ periodActivity.durationid }}
    </div>
    <div class="form-group">
        <label>Duraci贸n:</label>
        {{ periodActivity.unit }}
    </div>
    </div>
</div>

    <ul>
        <li>
            <a href="{{ path('periodactivity_new', { 'id': calendar.id }) }}">New</a>
        </li>
        <li>
            <a href="{{ path('periodactivity_index', { 'id': calendar.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('periodactivity_edit', { 'id': periodActivity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
