{% extends 'base.html.twig' %}

{% block body %}
    <h1>Periodcalendar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ periodCalendar.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ periodCalendar.name }}</td>
            </tr>
            <tr>
                <th>Identify</th>
                <td>{{ periodCalendar.identify }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('periodcalendar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('periodcalendar_edit', { 'id': periodCalendar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
