{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsables list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Website</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsable in responsables %}
            <tr>
                <td><a href="{{ path('admin_responsable_show', { 'id': responsable.id }) }}">{{ responsable.id }}</a></td>
                <td>{{ responsable.name }}</td>
                <td>{{ responsable.email }}</td>
                <td>{{ responsable.website }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_responsable_show', { 'id': responsable.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_responsable_edit', { 'id': responsable.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_responsable_new') }}">Create a new responsable</a>
        </li>
    </ul>
{% endblock %}
