{% extends 'base.html.twig' %}
{% block body %}
    {% include 'breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs} %}
    <div class="row">
        <div class="col-12">
            <h1>Sistemas de Información</h1>
            <h3><a class="btn btn-success" href="{{ path('system_new') }}"><i class="fa fa-fw fa-plus"></i></a></h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for system in systems %}
                    <tr>
                        <td>{{ system.name }}</td>
                        <td>{{ system.shortdescription | raw }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-info" href="{{ path('system_show', { 'id': system.id }) }}">Ver</a>
                                <a class="btn btn-primary" href="{{ path('system_edit', { 'id': system.id }) }}">Editar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
